* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #45b9a4;
}

.container {
    position: relative;
    width: 1290px;
    height: 700px;
    background-color: white;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #7ed386;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100%;
    position: absolute;
    left: 100px;
    font-size: 26px;
    color: white;
}

.content {
    padding: 30px 30px 30px 240px;
}

.logo {
    font-size: 50px;
    font-weight: bolder;
    color: #3dbb3d;
    text-align: ;
}